@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: var(--foreground);
  background: #1a2027;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}
